*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background:url(imagenes/fondo.png) no-repeat center center/cover;
    display: grid;
    place-items: center;
}

.container{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
}

input{
  width: 90%; 
  height: 60px;
  box-sizing: border-box; 
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px 0 0;
}

.display{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.botones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 1px;
}

button{
    background-color: #48bfff;
    color: white;
    height: 90px;
    width: 100px;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 8px;
    border: 2px solid white;
}

.boton-alargado{
    width: 210px;
    background-color: red;
}